/* ./src/index.css */

/*! @import */
@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

.lazy-background {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/6/6e/Fond_blanc.svg"); /* palce holder image */
}

.lazy-background.visible {
  background-image: url("https://images5.alphacoders.com/685/thumb-1920-685514.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.Button {
  border: none;
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.4);
  color: #fff;
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
  padding: 0.5em 1em;
  transition-property: background-color, box-shadow, transform;
  transition-timing-property: ease-out;
  transition-duration: 0.3s;
}

.Button:hover,
.Button:focus{
  box-shadow: 0px 4px 7px 0px rgba(0,0,0,0.4);
  transform: translateY(-2px);
}

.Button:active {
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.4);
  transform: translateY(0) scale(0.975);
}

.Drawer {
  background: #eee;
  box-shadow: -3px 0px 5px 0px rgba(0,0,0,0.6);  
  
  /* Give our drawer a base width */
  width: 100%;

  /* Position the drawer on the right edge of the screen */
  position: fixed;
  bottom: 0;
  right: 0;
  top: 0;

  /* Slide the drawer _past_ the right edge of the screen */
  transform: translateX(100%);

  /* Transition our horizontal slide */
  transition: transform ease-out 0.3s;
  
  /* Misc */
  
  text-align: center;
}

.Drawer.is-open {
  /* Slide the drawer back in when it's "open" */
  transform: translateX(0);
}
  
.Drawer {
  align-items: center;
  display: flex;
  height:100%;
  justify-content: center;
}